.button {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  background-color: #975f05;
  margin-top: 20px;
  transition: all 0.1s;
}

.button:focus {
  outline: none;
  border: none;
}

.button:active {
  transform: scale(0.98);
}

.affirmation {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 40px;
  height: 70px;
  background-color: #fffaf7;
  border-radius: 15px;
  margin: 20px auto;
}

@media (min-width: 600px) {
  .affirmation {
    max-width: 400px;
  }
}
