.headline {
  margin: 50px auto 50px auto;
  padding: 20px;
  font-family: "Abril Fatface", cursive;
  font-size: 28px;
  letter-spacing: 2px;
  color: #16130e;
}

@media (min-width: 600px) {
  .headline {
    font-size: 34px;
  }
}
